
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
}

.app {
  text-align: center;
  position: relative; 
}


.header {
  position: relative;
  background-size: cover;
  background-position: center;
  color: white;
  padding: 5rem 0;
  text-align: center;
  font-size: 2rem;
}

.header::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px; 
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
}

.header h1 {
  margin: 0;
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}


.dashboard {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2rem;
  gap: 2rem;
}

.dashboard-title {
  margin-bottom: 0; 
  padding-bottom: 0; 
}

.send-section {
  background: white;
  padding: 2rem;
  border-radius: 1.6rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
  width: 40%;
  min-width: 300px;
}

.send-section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.send-section h2 {
  margin: 0;
  padding: 0;
  text-align: left;
}

.dropdown {
  display: flex;
  align-items: center;
}

.dropdown label {
  margin-right: 10px;
  font-size: 1rem;
  color: #333;
}

.dropdown select {
  padding: 8px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
}

input,
textarea {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

button {
  background: #007bff;
  color: white;
  border: none;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background: #0056b3;
}

/* Notifications Section */
.notifications-section {
  background: white;
  padding: 2rem;
  border-radius: 1.6rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
  width: 40%;
  min-width: 300px;
}

.notifications-section h2 {
  margin-bottom: 1rem;
}

ul {
  list-style: none;
  padding: 0;
}

.notification-item {
  background: #f9f9f9;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.notification-item div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.notification-item h3 {
  margin: 0;
}

.notification-item p {
  margin: 0.5rem 0;
  color: #555;
}

.notification-item span {
  font-size: 0.9rem;
  color: gray;
}

.notification-item button {
  margin-top: 0.5rem;
  padding: 0.4rem 0.8rem;
  font-size: 0.9rem;
}